<% layout('getx_layout.html') -%>
<ol class="breadcrumb">
    <li><a href="#">您当前位置</a></li>
    <li><a href="#">公示</a></li>
    <li class="active">运营公示</li>
</ol>
<div>
<div style="text-align: center">
    <p style="font-size: 18px;color:#5e6370;">保链互助2018年第六期运营报告</p>
    <p style="font-size: 14px;color:#b0b9d1;">2018年第二季度内，完成事件审核50例，其中不符合条件6例，44例符合条件并且已经完成</p>
</div>

    <div style="padding: 20px 20px;">
        <div style="border-top: 1px solid #ccc;"></div>
        <pre style="white-space:pre-wrap;word-wrap:break-word;font-size: 14px;color:#bfbfbf;background: white;border: 0">
    截止至2017年第四季度末，已有超过255万人加入e互助的大家庭，累积为714个罹患癌症或意外身故的家庭提供爱心帮助，为他们共筹集了1.11亿元互助金。e互助成为国内唯一一家募捐过亿的网络互助平台，也是中国救助规模最大的网络互助平台。
一、 互助情况
    2017年11月22日，随着第651位会员的互助金到账，e互助平台的累计筹款金额突破1个亿，成为国内首个募捐过亿的网络互助平台，三年半来，超过3.58亿人次的捐助，汇聚成为一股巨大的力量，帮助每一个遭遇大灾大病的家庭度过难关，也真正让“做好人就会有好报”的梦想照进现实。
2017年第四季度，共有179例事件符合条件完成互助（事件明细清单附后）。共为互助会员募得资金23,963,049.97元。
1.png
注：e互助平台在每个会员充值账户划扣互助金时，划扣的金额会精确到分位，如果划扣的总额超过最高互助金额，那么，超过最高互助金额的零头将汇入托管账户的充值资金中，用于以后同一计划募集不齐时填补差额。
二、 会员服务
    四季度，平台上线了包括用于会员交流的e互助广场、完善会员福利的积分商城、引进协和医生集团的专家咨询，及其他体检、送药等各项多元化的会员服务。e互助通过不断完善服务与运营、健康可持续发展为会员提供强有力的经济保障、健康保障。
10月份，举办了“e互助助力粉红丝带环中国行健康公益徒步”，活动北至南先后走过了哈尔滨、北京、陕西、四川、广西等20个城市，超过20个城，4000人一起发力，边走边宣传，不断宣传告诉广大女性要用实际行动关注自身的乳腺健康。
三、 财务情况
    2017年第四季度内，招商银行托管账户入账资金32,151,259.49元，支出24,256,369.37元。第四季度初托管账户资金总额为45,623,156.19 元，截止四季度末，现金余额为53,518,046.31元。第四季度资金产生存款利息133,968.95元。详细科目可参阅附件一招商银行出具的季度托管报告。
四、 用户情况
    截止至2017年12月31日，加入“抗癌互助计划（少儿版）”的会员150,061人、“抗癌互助计划（中青年版）”1,140,815人、“抗癌互助计划（老年版）”255,008人，加入意外互助计划的会员1,004,040人，合计有效计划会员2,549,924人。
        </pre>
    </div>

</div>