<% layout('getx_layout.html') -%>
<link rel="stylesheet" href="../public/stylesheets/personal.css">
<p class="my-protection-title">我的保障</p>
<div class="my-protection">
	<div class="my-protection-left">
		<ul>
			<li class="protections">
				<div class="headimg-nick">
					<div class="head">
						<img src="../public/img/headportrait.png" alt="..">
					</div>
					<p>Franky Svensson</p>
				</div>
				<div class="protection-details">
					<div class="mutual-name">
						意外伤害互助计划
						<span>有效会员</span>
						<!-- <div class="mutual-list">
							<ul>
								<li>
									意外伤害互助计划1
								</li>
								<li>
									意外伤害互助计划2
								</li>
								<li>
									意外伤害互助计划3
								</li>
							</ul>
						</div> -->
					</div>
					<div class="account-details">
						<div class="mutual-sum">最高可获得互助金<span class="sum-getx">1万 GETX</span></div>
						<div class="mutual-balance">您的账余额<span class="balance-getx">30 GETX</span></div>
					</div>
					<div class="about-mutual">
						<a href="#">了解详情</a>
						<a href="#">立即充值</a>
					</div>
				</div>
				<div class="stage">
					<img src="../public/img/waitperiod.png" alt="">
					<p class="peroid">等待期</p>
					<a href="#" title="查看状态说明"></a>
				</div>
			</li>
			
			<li class="protections protections1">
				<div class="headimg-nick">
					<div class="head">
						<img src="../public/img/headportrait.png" alt="..">
					</div>
					<p>Franky Svensson</p>
				</div>
				<div class="protection-details">
					<div class="mutual-name">
						意外伤害互助计划
						<span>有效会员</span>
						<!-- <div class="mutual-list">
							<ul>
								<li>
									意外伤害互助计划1
								</li>
								<li>
									意外伤害互助计划2
								</li>
								<li>
									意外伤害互助计划3
								</li>
							</ul>
						</div> -->
					</div>
					<div class="account-details">
						<div class="mutual-sum">最高可获得互助金<span class="sum-getx">2万 GETX</span></div>
						<div class="mutual-balance">您的账余额<span class="balance-getx">6 GETX</span></div>
					</div>
					<div class="about-mutual">
						<a href="#">了解详情</a>
						<a href="#">立即充值</a>
					</div>
				</div>
				<div class="stage">
					<img src="../public/img/graceperiod.png" alt="">
					<p class="peroid peroid1">生效期</p>
					<a href="#" title="查看状态说明"></a>
				</div>
			</li>

			
			<li class="protections  protections2">
				<div class="headimg-nick">
					<div class="head">
						<img src="../public/img/headportrait.png" alt="..">
					</div>
					<p>Franky Svensson</p>
				</div>
				<div class="protection-details">
					<div class="mutual-name">
						意外伤害互助计划
						<span>有效会员</span>
						<!-- <div class="mutual-list">
							<ul>
								<li>
									意外伤害互助计划1
								</li>
								<li>
									意外伤害互助计划2
								</li>
								<li>
									意外伤害互助计划3
								</li>
							</ul>
						</div> -->
					</div>
					<div class="account-details">
						<div class="mutual-sum">最高可获得互助金<span class="sum-getx">3万 GETX</span></div>
						<div class="mutual-balance">您的账余额<span class="balance-getx">5 GETX</span></div>
					</div>
					<div class="about-mutual">
						<a href="#">了解详情</a>
						<a href="#">立即充值</a>
					</div>
				</div>
				<div class="stage">
					<img src="../public/img/valid.png" alt="">
					<p class="peroid peroid2">宽限期</p>
					<a href="#" title="查看状态说明"></a>
				</div>
			</li>

			
		</ul>
	</div>
	<div class="my-protection-right">
		<div class="member-sum">
			<p>成员总计</p>
			<div class="blue-sun">
				3人
			</div>

		</div>
		<!-- <h4>保险类保障</h4> -->
		<div class="member-sum">
			<p>享有最高互助金</p>
			<div class="orangesun">
				6万<p style="font-size: 14px;">GETX</p>
			</div>

		</div>
	</div>
</div>
<script>
	
</script>