<!DOCTYPE html>
<html>
<head>
  <!-- meta -->
  <meta charset="utf-8"/>
  <!--描述配置于config.js-->
  <meta name='description' content='<%= config.description %>'>

  <!--关键字配置于config.js-->
  <meta name="keywords" content="<%= config.keywords %>"/>

  <!--强制IE8采用edge方式渲染 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 强制页面与设备的宽度保持是1:1 并且页面最大的的宽度比例是1.0,且禁止用户点击屏幕放大浏览 -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <!-- 标签是iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <!--iphone的私有标签，它指定的iphone中safari顶端的状态条的样式； -->
  <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
  <!-- 告诉设备忽略将页面中的数字识别为电话号码 -->
  <!-- 用于忽略将页面中邮件地址-->
  <meta content="telephone=no,email=no,adress=no" name="format-detection"/>
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">



  <meta name="referrer" content="always">

  <!-- 加载配置文件config.js中 site_headers配置项 -->
  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

  <% if (config.site_icon) { %>
  <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
  <% } %>
  <!-- js&css 文件加载及压缩 -->
  <!-- style -->
  <!-- <%- Loader('/public/stylesheets/index.min.css')
  .css('/public/libs/bootstrap/css/bootstrap.css')
  .css('/public/stylesheets/common.css')
  .css('/public/stylesheets/style.less')
  .css('/public/stylesheets/responsive.css')
  .css('/public/stylesheets/jquery.atwho.css')
  .css('/public/libs/editor/editor.css')
  .css('/public/libs/webuploader/webuploader.css')
  .css('/public/libs/code-prettify/prettify.css')
  .css('/public/libs/font-awesome/css/font-awesome.css')
  .done(assets, config.site_static_host, config.mini_assets)
  %> -->

  <!-- scripts -->
  <!-- <%- Loader('/public/index.min.js')
  .js('/public/libs/jquery-2.1.0.js')
  .js('/public/libs/lodash.compat.js')
  .js('/public/libs/jquery-ujs.js')
  .js('/public/libs/bootstrap/js/bootstrap.js')
  .js('/public/libs/jquery.caret.js')
  .js('/public/libs/jquery.atwho.js')
  .js('/public/libs/markdownit.js')
  .js('/public/libs/code-prettify/prettify.js')
  .js('/public/libs/qrcode.js')
  .js('/public/javascripts/main.js')
  .js('/public/javascripts/responsive.js')
  .done(assets, config.site_static_host, config.mini_assets)
  %> -->

  <link href="../public/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/libs/swiper/css/swiper.min.css" rel="stylesheet">
  <link href="../public/libs/icheck/skins/all.css" rel="stylesheet">
  <link href="../public/stylesheets/default.css" rel="stylesheet">


  <script type="text/javascript" src="../public/libs/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../public/javascripts/default.js"></script>
  <script type="text/javascript" src="../public/javascripts/index.js"></script>
  <script type="text/javascript" src="../public/libs/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="../public/libs/layer/layer.js"></script>
  <script type="text/javascript" src="../public/libs/swiper/js/swiper.min.js"></script>
  <script type="text/javascript" src="../public/libs/radialIndicator.min.js"></script>
  <script type="text/javascript" src="../public/libs/icheck/icheck.min.js"></script>


  <title><%-title%></title>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">
</head>
<body>
  <div class="contain">
    <!--顶部用户信息-->
    <nav class="nav_pc">
      <div class="nav_box clearfix" style="">
        <ul class="pull-left list-inline">
          <li class="logo"><a href="/"><img width="76" src="../public/img/logo.png" alt=""></a></li>
          
        </ul>
        <ul class="pull-right user_info">
            <li class="home link"><a href="/" title="">主页</a></li>
            <li class="square link"><a href="/square" title="">广场</a></li>
            <li class="publicity link"><a href="/" title="">互助公示</a></li>
            <li class="blockchain_search link"><a href="/blockchain_search" title="">区块链查询</a></li>
            <!-- <li class="personal link"><a href="/personal" title="">个人中心</a></li> -->
            <li class="about link"><a href="/about" title="">关于我们</a></li>
            <li class="lan link" onclick="changeLan()"><span class="ch lan_active">中文</span>/<span class="en">EN</span></li>
            <li class="login link" onclick="show_log()">登录</li>
            <li class="header_menu"><span class="glyphicon glyphicon-th-large"></span></li>
            <li class="personal_info pointer">
              <span class="photo"><img src="../public/img/person.png" alt=""></span><span class="user_name"></span>
              <ul class="link_list">
                <a class="" href="/"><li>主页</li></a>
                <a class="" href="/square"><li>广场</li></a>
                <a class="" href="/"><li>互助公示</li></a>
                <a class="" href="/blockchain_search"><li>区块链查询</li></a>
                <a class="pc_show" href="/personal"><li>个人中心</li></a>
                <a class="" href="/about"><li>关于我们</li></a>
                <a class=""><li onclick="changeLan()" class="lan"><span class="ch lan_active">中文</span>/<span class="en">EN</span></li></a>
                <a class="menu_login"><li class="login pointer" onclick="show_log()">登录</li></a>
                <!-- <a class="pc_show"><li class="logout pointer" onclick="log_out()">Log out</li><a> -->
              </ul>
            </li>
        </ul>
      </div>
    </nav>
    <div class="main">
  <%- body %>
    </div>

</div>


<div class="login_box">
  <div class="content">
      <div class="logo">
          <img src="../public/img/logo.png" alt="">
      </div>
      <div class="email_box input_box">
          <span class="email_icon"></span>
          <input class="email" type="email" name="email" placeholder="邮箱">
      </div>
      <div class="password_box input_box">
          <span class="password_icon"></span>
          <input class="password" type="password" name="password" placeholder="密码">
      </div>
      <div class="input_box code_box_input">
        <div class="inp_code">
            <input class="code" type="text" name="code" placeholder="图形验证码">
        </div>
        <div class="code_box">

        </div>
      </div>
      <div class="input_box login_btn" onclick="login()">
          登录
      </div>
      <div class="input_box regist_forget">
        <div class="new_register" onclick="jump_register()">新用户注册</div>
        <div onclick="forget()">忘记密码</div>
      </div>
  </div>
</div>
<div class="register_box">
  <div class="content">
      <div class="logo">
          <img src="../public/img/logo.png" alt="">
      </div>
      <div class="email_box input_box">
          <input class="email" type="email" name="email" placeholder="邮箱">
      </div>
      <div class="input_box code_box_input">
        <div class="inp_code">
            <input class="code" type="text" name="code" placeholder="图形验证码">
        </div>
        <div class="code_box">

        </div>
      </div>
      <div class="email_code_box input_box">
          <div class="inp_code">
            <input class="email_code" type="text" name="code" placeholder="邮箱验证码">
          </div>

          <div class="send_email" send='1' onclick="register_send()">发送验证码</div>

      </div>
      <div class="password_box input_box">
          <span class="password_icon"></span>
          <input class="password1" type="password" name="password" placeholder="登录密码">
      </div>
      <div class="password_box input_box">
          <span class="password_icon"></span>
          <input class="password2" type="password" name="password" placeholder="确认密码">
      </div>
      <div class="invite_box input_box" style="padding-left:22px">
          <input class="invite_code" type="text" name="invite_code" placeholder="邀请码">
      </div>
      <div class="check_box">
          <div class="check_1 text-left">
            <input type="checkbox" class="check_box_1" name="check_box_1"> <span>阅读并接受<a href="/doc?doc_id=4">《用户注册协议》</a><a href="/doc?doc_id=5">《隐私条款》</a><a href="/doc?doc_id=6">《关于GETX的使用协议》</a></span>
          </div>
      </div>
      <div class="input_box login_btn" onclick="register()">
          注册
      </div>
  </div>
</div>
<div class="forget_box">
  <div class="content">
      <div class="logo">
          <img src="../public/img/logo.png" alt="">
      </div>
      <div class="email_box input_box">
          <input class="email" type="email" name="email" placeholder="邮箱">
      </div>
      <div class="input_box code_box_input">
        <div class="inp_code">
            <input class="code" type="text" name="code" placeholder="图形验证码">
        </div>
        <div class="code_box">

        </div>
      </div>
      <div class="email_code_box input_box">
          <div class="inp_code">
            <input class="email_code" type="text" name="code" placeholder="邮箱验证码">
          </div>

          <div class="send_email" send='1' onclick="forget_send()">发送验证码</div>

      </div>
      <div class="password_box input_box">
          <span class="password_icon"></span>
          <input class="password1" type="password" name="password" placeholder="登录密码">
      </div>
      <div class="password_box input_box">
        <span class="password_icon"></span>
          <input class="password2" type="password" name="password" placeholder="确认密码">
      </div>

      <div class="input_box login_btn" onclick="forget_confirm()">
          提交
      </div>
  </div>
</div>
<input style="display: none;" class="name_active" type="" name="" value="<%-name%>">
<script src="../public/javascripts/islogin.js"></script>
<script type="text/javascript">
  //$(".user_info li").css('height',$('body').width()*100/1920).css('line-height',$('body').width()*100/1920+'px')
  //$('.dropdown_icon').height($('body').width()*100/1920).width($('body').width()*100/1920)

  //语言切换
  function changeLan(){
    $.post('/changeLan',{},function(rescnt){
        if(rescnt.status==0){
          window.location.reload()
        }
    })
  }

  //用户登陆状态




  user_action();
  $('.'+$('.name_active').val()).addClass('active')
  

  function user_action(){
    $.post('/islogin',{},function(stage){
    if(stage.stage){
      //更改用户状态
      $('li.login').hide();
      $('.user_name').html(stage.stage);
      $('.personal_info .photo,.personal_info .user_name').show();
      $('.login_box').hide();

      $('.menu_login').remove();

      $('<a class="pc_show"><li class="pointer" onclick="forget()">重置密码</li><a>').appendTo('.link_list');
      $('<a class="pc_show"><li class="logout pointer" onclick="log_out()">退出</li><a>').appendTo('.link_list');

      if(!IsPC()){
        $('.personal_info .photo,.personal_info .user_name').hide()
      }
    }else{
      $('.personal_info .photo,.personal_info .user_name').hide();
      if(IsPC()){
        $('li.login').css('display','inline-block');
      }

    }
})
  }

  //导航栏

var width=document.documentElement.clientWidth;

if(width<900){
  $('.header_menu').click(function(){
      $('.link_list').toggle();
 })
}
  var has_confirm={};
  has_confirm.register=0;
  has_confirm.forget=0;

if(width>900){
  $('.personal_info').hover(function(){
    $('.link_list a').hide();
    $('.link_list .pc_show').show();
    $('.link_list').toggle();
  })
}



/*function show_menu(){
  $('.link_list a').hide();
  $('.link_list .pc_show').show();
  $('.link_list').toggle();

}*/

  //checkbox init

  $('input[type="checkbox"]').iCheck({
      handle : 'checkbox',
      checkboxClass : 'icheckbox_flat-blue',
      radioClass : 'iradio_flat-blue'
  });

  //登出

  function log_out(){
      $.get('/signout',{},function(rescnt){
        if(rescnt.status==0){
          toast('退出成功');
          window.location.href='/'
        }
      })
  }



  function getCode(obj){

    obj.find('canvas').remove()

    var canvas=$("<canvas width='100' height='40'></canvas>").appendTo(obj);
    console.log(canvas)
    //canvas.width(100).height(40);

    $.post('/getCode',{},function(rescnt){
      console.log(rescnt)
        drawPic(rescnt,canvas[0]);
    })
  }
  //显示登陆页
  function show_log(){

    $('.login_box').click(function(){
      $('.login_box').hide();
    });
    //获取图形验证码
    $('.login_box .code_box svg').remove();

    $('.login_box .content').click(function(e){
      e.stopPropagation()
    })

    getCode($('.login_box .code_box'))

    /*$.post('/getCode',{},function(rescnt){
        $('.login_box .code_box').append(rescnt)
    })*/
    $('.login_box').css('display','flex');
  }

  //跳转忘记密码页
  function forget(){

    $('.login_box').hide();
    $('.forget_box').click(function(){
      $('.forget_box').hide();
    });

    $('.forget_box .content').click(function(e){
      e.stopPropagation()
    })

    //获取图形验证码

    getCode($('.forget_box .code_box'))
    /*$('.forget_box .code_box svg').remove();

    $.post('/getCode',{},function(rescnt){
        $('.forget_box .code_box').append(rescnt)
    })*/
    $('.forget_box').css('display','flex');
  }

  //跳转注册页
  function jump_register(){

    $('.login_box').hide();
    
    getCode($('.register_box .code_box'))
    $('.register_box').css('display','flex');

    $('.register_box').click(function(){
      $('.register_box').hide();
    });


    $('.register_box .content').click(function(e){
      e.stopPropagation()
    })

  }
  //注册页发送邮件验证码
  function register_send(){
    if($('.register_box .email_code_box .send_email').attr('send')==0){
      return
    }
    console.log(1)
    var email=$('.register_box .email').val()
    if(email==''){
      toast('邮箱不能为空')
      return
    }
    $('.register_box .email_code_box .send_email').attr('send',0)
    //check 图形验证码
    var code=$('.register_box .code').val();
    $.post('/sendEmailCode',{'code':code,'email': email},function(rescnt){
      if(rescnt.status==0){
        toast('发送成功')
        has_confirm.register=1;
        var s=60;
        var time=setInterval(function(){
          $('.register_box .email_code_box .send_email').html(s+'s')
          s--;
          if(s<0){
            clearInterval(time);
            $('.register_box .email_code_box .send_email').html('发送验证码').attr('send',1)
            return
          }
        },1000)
      }
      else{
        toast(rescnt.errMsg)
        $('.register_box .email_code_box .send_email').attr('send',1)
      }
    })

  }

  //忘记密码页发送邮件验证码

  function forget_send(){
    if($('.forget_box .email_code_box .send_email').attr('send')==0){
      return
    }
    var email=$('.forget_box .email').val()
    if(email==''){
      toast('邮箱不能为空')
      return
    }
    $('.forget_box .email_code_box .send_email').attr('send',0)
    var code=$('.forget_box .code').val();
    $.post('/sendEmailCodeSetPass',{'code':code, 'email': email},function(rescnt){
      if(rescnt.status==0){
        toast('发送成功')
        has_confirm.forget=1;
        var s=60;
        var time=setInterval(function(){
          s--;
          if(s<0){
            clearInterval(time);
            $('.forget_box .email_code_box .send_email').html('发送验证码').attr('send',1)
            return
          }
          $('.forget_box .email_code_box .send_email').html(s+'s').attr('send',0)
        },1000)
      }
      else{
        toast(rescnt.errMsg)
        $('.forget_box .email_code_box .send_email').attr('send',1)
      }
    })

  }

  //登陆
  function login(){
    var code =$('.login_box .code').val();
    var email=$(".login_box .email").val();
    var password=$(".login_box .password").val();

    
    //输入验证
    if(email==''){
      toast('邮箱不能为空')
      return
    }
    if(code==''){
      toast('请填写验证码')
      return
    }
    if(password==''){
      toast('密码不能为空')
      return
    }
    var param={};
    param.code=code;
    param.email=email;
    param.password=password;
    console.log(param)
    $.post('/signin',param,function(rescnt){
        console.log(rescnt)

        if(rescnt.status==0){
          toast('登录成功');
          //存储用户信息至session
          //setSessionStorage('user_email',rescnt.resMsg.member);
          //setSessionStorage('user_password',rescnt.resMsg.passwd);
          //$('.login_box').hide()
          //更改用户状态
          user_action()
        }else{
          toast(rescnt.errMsg)
        }
    })
  }

  //注册
  function register(){
    //var nation=$('.register_box .nation').val()
    var email=$('.register_box .email').val()
    var email_code=$('.register_box .email_code').val()
    var password1=$('.register_box .password1').val()
    var password2=$('.register_box .password2').val()
    var check1=$('.register_box .check_box_1')[0].checked
    var invite_code=$('.register_box .invite_code').val();
    if(email==''){
      toast('邮箱不能为空')
      return
    }
    if(email_code==''){
      toast('请填写邮箱验证码')
      return
    }
    if(password1==''||password2==''){
      toast('密码不能为空')
      return
    }
    if(password1!=password2){
      toast('两次密码不一致')
      return
    }

    if(!check1||!has_confirm.register){

      toast('图片验证码错误或未勾选用户协议')
      return
    }
    var param={
      'email':email,
      'email_code':email_code,
      'password1':password1,
      'password2':password2,
      'invite_code':invite_code
    }
    $.post('/signup',param,function(rescnt){
      if(rescnt.status==0){
        toast('注册成功');
        $('.register_box').hide();
        has_confirm.register=0;
        show_log();
      }
      else{
        toast(rescnt.errMsg);

      }
    })
  }
  //忘记密码提交
  function forget_confirm(){
    var email=$('.forget_box .email').val()
    var email_code=$('.forget_box .email_code').val()
    var password1=$('.forget_box .password1').val()
    var password2=$('.forget_box .password2').val()

    //用户输入验证
    if(email==''){
      toast('邮箱不能为空')
      return
    }
    if(email_code==''){
      toast('请填写邮箱验证码')
      return
    }
    if(password1==''||password2==''){
      toast('密码不能为空')
      return
    }
    if(password1!=password2){
      toast('两次密码不一致')
      return
    }

    if(!has_confirm.forget){
      toast('图片验证码错误')
      return
    }
    var param={
      'email':email,
      'email_code':email_code,
      'password1':password1,
      'password2':password2
    }
    $.post('/password_reset',param,function(rescnt){

      if(rescnt.status==0){
        toast('修改成功');
        $('.forget_box').hide();
        has_confirm.forget=0;
        show_log();
      }
      else{
        toast(rescnt.errMsg);
      }
    })
  }

  //图形验证码点击更换
   $('.code_box').on('click',function(){
      
      var obj=$(this);

      getCode(obj)

  })

</script>
</body>
</html>
