<% layout('getx_layout_en.html') -%>
<link rel="stylesheet" href="../public/stylesheets/publicity_each.css">
<ol class="breadcrumb">
	<li>您当前位置：</li>
  <li><a href="/publicity">公示</a></li>
  <li><a href="/publicity_details/:12">互助详情</a></li>
  <li class="active">每期公示</li>
</ol>
<div class="publicity_success">
	<h3>百万大学生意外伤害互助计划每期公示</h3>
	<table class="table">
		<tr  class="publicity_success_title">
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与捐助人次</td>
			<td>互助金额</td>
			<td>公示中</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与捐助人次</td>
			<td>互助金额</td>
			<td class="publicity_ing">状态</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与捐助人次</td>
			<td>互助金额</td>
			<td class="publicity_complete">已捐款</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与捐助人次</td>
			<td>互助金额</td>
			<td class="publicity_complete">已捐款</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与捐助人次</td>
			<td>互助金额</td>
			<td class="publicity_complete">已捐款</td>
		</tr>
	</table>
</div>
<div class="publicity_failed">
	<h3>不予互助名单公示</h3>
	<table class="table">
		<tr class="publicity_failed_title">
			<td>人名</td>
			<td>状态</td>
			<td>所在地</td>
			<td>原因</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td class="publicity_ing">原因</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td class="publicity_ing">原因</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td class="publicity_ing">原因</td>
		</tr>
		<tr>
			<td>期数</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td class="publicity_ing">原因</td>
		</tr>
	</table>
</div>