<% layout('getx_layout_en.html') -%>
<link rel="stylesheet" href="../public/stylesheets/assistance.css">
<ol class="breadcrumb">
  <li>Your current location:</li>
  <li><a href="/personal">Account summary</a></li>
  <li class="active">Help center</li>
</ol>
<div class="assistance-center">
	Help center
</div>
<ul class="help-list">
	<li>
		<p>1.What is Inschain mutual aid platform?</p>
   		<p>Inschain mutual aid project, is a world-class open, transparent and risk preventable mutual network assistance platform, operating by Inschain</p>
	</li>
	<li>
		<p>2.What is the reasons for set up a mutual aid platform?</p>
   		<p>In daily life , accidents, health, account security, family responsibilities, etc., all kinds of risks seem to be far away from us. In fact, such accidents have frequently occurred around us. We have witnessed the huge impact of these incidents on families again and again. We have been thinking about whether there is a third model beyond commercial insurance and public welfare – both to provide risk protection and care for others? We researched deeply into the origin of insurance—mutual aid, and demonstrated the mutual aid model based on blockchain technology will be strongly benefits members and shine again. So, we created "Inschain mutual aid project" ,which perfectly combines protection and care and truly realizes the relationship between contribution and deserve; love and care.</p>
	</li>
	<li>
		<p>3.How to ensure there is no violate of national laws and regulation in the operation?</p>
   		<p>At the setting up stage, we had thorough discussion with the lawyer about the legality, and it can be concluded that the operation model is strictly obeying regulation and national law.</p>
	</li>
	<li>
		<p>4.Will the mutual aid platform achieve a long-term vitality?</p>
   		<p>Inschain is the operator of mutual aid platform, with a strong strength and has a strong financial foundation for operation and maintenance. We believe that as more and more people understand the nature of the mutual aid platform and the shortcomings this bidirectional charity model can solving; that existing in various social insurance, commercial insurance, and charity organizations, more and more people will join the platform and getting help from it. Thus, we strongly believe that will have a long-term vitality.</p>
	</li>
	<li>
		<p>
			5.How to ensure transparency in the operation of Inschain mutual aid platform?
		</p>
		<p>-The operation and management of the Inschain mutual aid platform are under the supervision of all members. In addition to the daily and timely announcement, we will form supervision committee from the member to audit and review the platform</p>
		<p>-The Inschain mutual aid platform will hire a well-known insurance assessment company as an independent investigation agency to investigate the truthfulness of mutual aid incidents. At the same time, the external experts examined whether mutual aid incidents met the conditions for mutual assistance.</p>
	</li>
	<li>
		<p>6.Will there be certification once become a member?</p>
		<p>Inschain mutual aid is an online platform. Whether it is a registered member or a mutual-participated member, the detail information will be presented and stored on-line on the official website personal tab, and no additional paper certificates will be issued. If personal information such as identity information, e-mail address, mailing address, zip code, and contact telephone number had been changed, member can modify the information in their personal tab or send an e-mail to the customer service.</p>
	</li>
	<li>
		<p>7.How mutual aid platform protect user privacy?</p>
		<p>Inschain mutual aid platform promises to perform reasonable obligations to keep members' private information. At the same time, through the form of membership conventions, all members are bound to protect the privacy of other members, especially those who apply for mutual assistance. The personal information of other members must not be disclose in all circumstances.</p>
	</li>
	<li>
		<p>8.What are conditions to participate in mutual aid platform?</p>
		<p>
			As long as you possess full civil rights ability and civil behavior ability, you can become a registered member of the mutual aid platform. If you want to participate in the mutual aid project, you must further meet the conditions for joining.
		</p>
	</li>
	<li>
		<p>
			9.How to participate in the mutual aid platform?
		</p>
		<p>
			If you meet the conditions for joining, you can register as a member of our official website, and follow the procedures outlined below to participate in the mutual aid project:<br>
			1.	Click the mutual help homepage<br>
			2.	Click the ‘Joining now’ button on the mutual aid details page<br>
			3.	Filling in the registration form and agree with the product disclosed rules<br>
			4.	Ensure all the details had been filling out correctly and process to the payment stage <br>
			5.	Once the payment had been success, then welcome to our mutual aid project, you can now enjoy all the member benefits and following member obligation

		</p>
	</li>
	<li>
		<p>10.After joining, can I freely withdraw from the Mutual aid Platform?</p>
		<p>The Inschain mutual aid is an open platform. You can join at any time and you can freely exit under the conditions. However, if you violate national laws and regulations, policies, or publish on the platform fraudulent, illegal, pornographic, obscene, violent, offensive or insulting remarks, the mutual aid platform has the right to stop providing services for you.</p>
	</li>
	<li>
		<p>
			11.can I freely withdraw from the Mutual aid Platform?
		</p>
		<p>A mutual aid member may voluntarily apply for a withdrawal from the mutual aid platform. However, after exiting, you do not have the right to request mutual assistance from the platform or other members in any future accident events.</p>
	</li>
	<li>
		<p>
			12.I applied to join the mutual aid program and found out that I did not meet the conditions for joining. What should I do?
		</p>
		<p>
			We will remind members to read and understand the terms and condition of joining in steps of the registration where it is possible to be set reminders. Please read carefully before joining members. If you find that you do not meet the conditions after joining, please contact the platform customer service to discuss the issues. Once it had been confirmed that you do not meet the conditions, you can exit out of the program. The love you have already dedicate will be recorded in your merit book. Show your kindness. However, you give up the obligation to deserve any help from the mutual aid platform or member in future accidents; please understand.
		</p>
	</li>
	<li>
		<p>
			13.Why should the real-name system be adopted in mutual aid?
		</p>
		<p>
			In order to confirm that the members who apply for mutual aid in the future are those who originally joined the plan and have been performing mutual assistance obligations, the platform requires the real names of mutual aid members.
		</p>
	</li>
	<li>
		<p>
			14.What if there are mistakes in my real name information?
		</p>
		<p>
			Personal identification information such as your name and ID number provided when you registered cannot be modified on your own as soon as it is submitted. If there is indeed an error, please contact the platform customer service, and provide evidence to apply for background modification as required. Other information you can modify at your own personal center.
		</p>
	</li>
	<li>
		<p>
			15.What are the reasons for listing the exclusion of protection? How to verify these situations?
		</p>
		<p>
			The essence of Inschain mutual aid is the mutual commitment promised by all mutual aid members for uncertain future risks. The premise of achieving fairness is that the probability that mutual aid members face potential risks is about the same. If people suffering from cancer, major diseases, high-risk occupations are equally protected, the rules are unfair to other members.<br>
			The Inschain mutual aid platform cannot verify the physical condition of the members beforehand. Therefore, the platform requires members to truthfully inform the plan before joining the plan and set up reasonable cases of exclusion. After the incident occurs, the platform must confirm that the incident actually happened and exclude the situation mentions in the product rules before initiating mutual assistance.
		</p>
	</li>
	<li>
		<p>
			16.What is the process of Inschain mutual aid?
		</p>
		<p>
			The process of mutual aid planning is as follows: 1. Log in→2. Browse the product introduction→ 3. Fill in the personal information and apply to join→4. Pay→5. Become a member and enter into waiting period→6. If an unfortunate event occurs after the waiting period, please submit mutual assistance claim application→7. Acceptance of donations after the survey→8. IF there is an insufficient balance of contributions, a recharge is a must otherwise forcefully withdraw from the plan.
		</p>
	</li>
	<li>
		<p>
			17.How to prevent members from defrauding mutual aid payments?
		</p>
		<p>
			 A mutual aid member may voluntarily apply for a withdrawal plan from the Mutual Guarantee Platform. However, after exiting, you do not have the right to request the Mutual Assistance Platform or other members to initiate mutual assistance for you in the event of a mutual aid event in the future.<br>
			 The reason for the introduction of independent third-party assessment agencies and expert committees in the Inschain Mutual aid Platform is to maximize the veracity of mutual aid incidents. The assessment agency will have a complete and rigorous survey plan, and experts can judge the incident from their professional perspective. We will make announcements about each stage in the mutual find distribution process, so that each member can play a supervisory role. In the event that fraudulent activity is discovered after the mutual fund transfer, the platform will take the obligation to recover the money.
		</p>

	</li>
</ul>
<script>
	$(".help-list li:even").addClass('help-list-bg')
</script>