<% layout('getx_layout.html') -%>
<link rel="stylesheet" href="../public/stylesheets/assistance.css">
<ol class="breadcrumb">
  <li>您当前位置：</li>
  <li><a href="/personal">个人中心</a></li>
  <li class="active">帮助中心</li>
</ol>
<div class="assistance-center">
	保链互助帮助中心
</div>
<ul class="help-list">
	<li>
		<p>1、保链互助平台是什么？</p>
   		<p>保链互助平台是世界领先的全公开全透明的预防风险的网络互助平台，由保链主办。</p>
	</li>
	<li>
		<p>2、保链互助平台的由来是什么？</p>
   		<p>在生活中，意外，健康，账户安全，家庭责任等，各种风险似乎离我们很遥远。事实上，这样的事故屡屡在我们身边发生，我们一次次目睹了这些事件给家庭造成的巨大冲击。我们一直思考在商业保险和公益事业之外是否有第三种模式---既能提供风险保障又能关爱他人？我们深入讨论了保险的起源——互助，并论证了基于区块链技术的互助模式，发现基于区块链的互助将再次闪耀光芒。于是，我们创建了“保链互助”！“保链互助”将保障与关爱完美地结合，真正实现“我为人人，人人为我”，“关爱他人，保障自己”！</p>
	</li>
	<li>
		<p>3、保链互助平台会否涉嫌违法运作？</p>
   		<p>在平台搭建初期，我们与律师进行了平台运作合法性进行了论证，结论是保链互助平台的经营模式没有违反现行的各项法律法规。</p>
	</li>
	<li>
		<p>4、保链互助平台会一直存续吗？</p>
   		<p>保链互助平台由保链创办，公司实力强大，运维有强有力的经济基础。我们相信只要越来越多的人了解保链互助平台的本质，了解这是一个能弥补社会保险、商业保险、慈善机构的各种不足的双向慈善模式，就会有越来越多的人加入我们的平台，也使得越来越多的人从我们的平台获得帮助，形成良性循环。我们相信保链互助平台会有长久的生命力。</p>
	</li>
	<li>
		<p>
			5、如何保证保链互助平台公开透明？
		</p>
		<p>1) 保链互助平台的运作和管理接受全体会员监督，除日常的适时及定时公示、披露外，每年将抽取会员组成监督小组对平台运营进行审查。</p>
		<p>2) 保链互助平台聘请知名保险公估有限公司作为独立调查机构对互助事件的真实性进行调查，同时外聘专家对互助事件是否满足互助条件进行审定。</p>
	</li>
	<li>
		<p>6、我成为会员后是否有什么凭证？</p>
		<p>保链互助是一个网络平台，无论是注册会员还是参与计划的互助会员，会员信息将以官网个人空间的形式在线呈现和储存，不再另发纸质凭证。如果会员的身份信息、电子邮件地址、通信地址、邮编、联系电话等个人信息发生变化可自主在个人空间进行修改或发送邮件至保链互助平台客服邮箱修改。</p>
	</li>
	<li>
		<p>7、保链互助平台如何保护会员的隐私？</p>
		<p>保链互助平台承诺尽合理义务保管会员隐私资料。同时通过会员公约的形式约束全体会员保护其他会员、尤其是申请互助会员的隐私，不得将其他会员的个人信息外传。</p>
	</li>
	<li>
		<p>8、加入保链互助平台需要满足什么条件？</p>
		<p>
			只要您是具有完全民事权利能力和民事行为能力的自然人，均可成为保链互助平台注册会员。如您要参与平台的互助计划，则须进一步满足具体计划的加入条件。
		</p>
	</li>
	<li>
		<p>
			9、我要如何加入保链互助平台？
		</p>
		<p>
			如果您满足加入条件，您可注册登录成为我们官网的会员，然后点击互助网页首页-点击互助计划详情页的“立即加入”，填写注册信息，点击同意产品规则，确认信息无误后充值，则可成为互助会员，享受会员权利，履行会员义务。
		</p>
	</li>
	<li>
		<p>10、加入后，我是否可以自由退出保链互助平台？</p>
		<p>保链互助平台是一个开放的平台，您可以随时加入也可在符合条件下自由退出。但是万一您违反了国家法律法规、政策，或者在平台上发布包含诈骗、非法、色情、淫秽、暴力内容或攻击性、侮辱性的言论，保链互助平台有权停止为您提供服务。</p>
	</li>
	<li>
		<p>
			11、我是否可以自主选择退出计划？
		</p>
		<p>互助会员可自愿向保链互助平台申请退出计划，但退出后您无权要求保链互助平台或其他会员在您未来发生互助事件时为您发起互助。</p>
	</li>
	<li>
		<p>
			12、我申请加入保链互助计划后，才发现自己不符合加入条件，怎么办？
		</p>
		<p>
			我们会在所有能设置提示的地方提醒会员阅读知悉保链互助的加入条件，请会员加入前务必认真阅读。如果您加入后才发现自己不符合条件，请第一时间联系平台客服进行确认，经确认确实不符合条件的，您可以选择退出计划，您已奉献的爱心会一直记录在您的功德簿上，彰显您的善举。但保链互助平台或其他会员在您未来发生互助事件时就无法对您进行义务互助了，请您理解！
		</p>
	</li>
	<li>
		<p>
			13、保链互助为什么要实名制？
		</p>
		<p>
			为了确认未来申请互助的会员就是当初加入计划并一直在履行互助义务的人，平台要求互助会员实名制。
		</p>
	</li>
	<li>
		<p>
			14、我的实名信息有误怎么办？
		</p>
		<p>
			您注册时提供的姓名及证件号码等个人身份信息一旦输入就不可自行修改。如确实存在错误，请联系平台客服，并按照要求提供相应证据申请后台修改，其他信息您可自行在个人中心进行修改。
		</p>
	</li>
	<li>
		<p>
			15、保链互助规则列出不予保护情形的原因是什么？如何核实这些情形？
		</p>
		<p>
			保链互助的本质是所有互助会员对不确定的未来风险达成的互助承诺。实现公平性的前提是互助会员面对潜在风险的几率大致相同。如果患癌、重大疾病、高风险职业等人群也同等保护，规则对于其它会员是不公平的。
			保链互助平台无法事前核实会员的身体状况，所以平台要求会员在加入计划前如实告知，并设置了合理的不予互助的情形。事件发生后，平台要确认事件真实发生，同时排除不予互助的情形后，才能发起互助。
		</p>
	</li>
	<li>
		<p>
			16、保链互助的互助流程是怎么样的？
		</p>
		<p>
			计划互助流程如下：1、登陆会员→2、浏览产品介绍→3、填写个人信息申请加入→4、支付→5、成为会员，进入等待期→6、等待期结束后若发生不幸事件，提起互助申请→7、调查公示后接受捐助→8、会费余额不足进行增资或强行退出计划
		</p>
	</li>
	<li>
		<p>
			17、如何防止会员骗取互助金？
		</p>
		<p>
			保链互助互助平台引入独立第三方公估机构和专家委员会的原因，就是为了最大程度确认互助事件的真实性。公估机构会有完整且严谨的查勘方案，而专家则能从其专业角度对事件进行判断。我们还重视每个环节的公示公告，让每个会员都起到监督作用。万一在互助金划拨后才发现有欺诈行为，平台将义务代为追偿。
		</p>

	</li>
</ul>
<script>
	$(".help-list li:even").addClass('help-list-bg')
</script>