<% layout('getx_layout_en.html') -%>
<link rel="stylesheet" href="../public/stylesheets/publicity_details.css">
<ol class="breadcrumb">
	<li>您当前位置：</li>
  <li><a href="/publicity">公示</a></li>
  <li class="active">互助公示</li>
</ol>
<h3>
	2018年第三期百万大学生意外伤害互助计划捐助公示
	<a href="/publicity_each">查看每期公示&gt;</a>
</h3>
<div class="total">
	<table class="table">
		<tr>
			<td>捐助总额</td>
			<td style="color: #ec6941;font-weight: bold;">50000GETX</td>
		</tr>
		<tr>
			<td>受助总人数</td>
			<td style="color: #000;font-weight: bold;">12人</td>
		</tr>
		<tr>
			<td>公示日期</td>
			<td style="color: #000;font-weight: bold;">2018-3-21至2018-3-28</td>
		</tr>
	</table>
</div>
<div class="publicity_tips">
	<div class="tips_box">
		<div class="publicity_tips_img">
			<img class="img-responsive center-block" src="../public/img/publicity_tips.png" alt="">
		</div>
		<div class="publicity_tips_txt">本期合并公示12起符合条件的意外伤害互助事件，事件公示的公示期为7天，在此期间互助金额将被冻结。如无会员提出异议，将于2018年3月28日从会员账户扣取互助金。保链互助平台接受全体会员监督，若对事件详情需要了解更多内容或对公示有异议，可通过发送客服邮箱邮件：mutualaid@inschain.io，与保链互助平台取得联系了解相关情况。</div>
	</div>
</div>
<p class="mutual_members">受助会员</p>
<div class="table1_box">
		<table class="table">
			<tr class="member_list_title">
				<td width="16.6%">人名</td>
				<td width="16.6%">意外类型</td>
				<td width="16.6%">所在地</td>
				<td width="16.6%">参与人次</td>
				<td width="16.6%">互助金额</td>
				<td width="16.6%">均摊金额</td>
			</tr>
		</table>
	</div>
<div class="mutual_members_list">
	<table class="table table-hover">
		<tr>
			<td width="16.6%">人名</td>
			<td width="16.6%">意外类型</td>
			<td width="16.6%">所在地</td>
			<td width="16.6%">参与人次</td>
			<td width="16.6%">互助金额</td>
			<td width="16.6%">均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
		<tr>
			<td>人名</td>
			<td>意外类型</td>
			<td>所在地</td>
			<td>参与人次</td>
			<td>互助金额</td>
			<td>均摊金额</td>
		</tr>
	</table>
</div>
<script>
	$('.mutual_members_list tr').click(function(){
		window.location.href='/'
	})
</script>