<% layout('getx_layout_en.html') -%>
<link rel="stylesheet" href="../public/stylesheets/news.css">
<ol class="breadcrumb">
	<li>Your current location:</li>
  <li><a href="/personal">Account summary</a></li>
  <li><a href="/square">Square</a></li>
  <li class="active">News</li>
</ol>
<div class="news_details">
	<div class="news_head">
		<div class="news_title">
			<h4>Inschain will launch their first product - Million Undergraduates Accidental Mutual Aid Project</h4>
			<p><a href="/product?program_id=1">Base on mutual aid which is innovative and forward looking insurance business model. this model fully integrate the concept of protection and love. by participating in this product, you will not only enjoy the benefits but also able to contribute your brillant ideas for product development</a></p>
			<p class="news_date">04-10</p>
		</div>
	</div>
	<div class="news_text">
		<p>Inschain studied the original spirit of insurance deeply and demonstrated that the mutual aid model based on blockchain technology will strongly benefit members. In this regard, we are launching the Million undergraduates accidental mutual aid project which will the first product based on this forward-looking model. Our unique design features perfectly combine protection and care and truly realizes the relationship between contribution and deserve; love and care.</p>
		<p>This product will be on live at Inschain mutual aid platform.  The platform fully integrates the spirit of crowdsourcing and allow every member to participate in the product design section. Brilliant ideas will be summaries as the ballot and once passed by all member; the Inschain product development team will integrate these ideas into actual application. Inschain platform strive to create a million level mutual aid community that combines blockchain and insurance.</p>
		<p>This product protects aganist personal accidents and has the following characteristics.</p>
		<pre style="border:none;background-color: #fff;color: #aaa;">
• settlement method: GETX;

• age of admission: 16-60 years of age;

• Recharge requirements: a single recharge is not less than 30GETX;

• Wait period: 30 days after joining the plan.

• total compensation in a single event: accidental event does not exceed 100 thousand GETX; while commercial airline accident does not exceed 1 million GETX;

• Per person donation: in a  single accident does not exceed 10GETX.

• Operation management fee: after the end of the waiting period, the 0.01GETX/ person/day will be charged.

• Grace period: 30 days after balance drop below  10 GETX ( Resume Benefits after recharging)
		</pre>
		<p>When accidents happen, the Inschain closely consider the urgent needs of applicants and the benefits of the member. Thus we had following procedure for mutual assistance fund application.</p>
		<pre style="background-color: #fff;border:none;color: #aaa;">
• third party agencies are invited to investigate the authenticity of events independently.

• The findings were publicized and must agree by all members.

• Beneficiaries need to pay the start-up fee to initiate the investigation;

• A quick collection of mutual assistance fund through smart contracts
		</pre>
		<p>About the specific terms and condition of products and mutual aid process, please read the related document on the inschain website</p>
	</div>
</div>