<% layout('getx_layout.html') -%>
<link rel="stylesheet" href="../public/stylesheets/news.css">
<ol class="breadcrumb">
	<li>您当前位置：</li>
  <li><a href="/personal">个人中心</a></li>
  <li><a href="/square">广场</a></li>
  <li class="active">资讯</li>
</ol>
<div class="news_details">
	<div class="news_head">
		<div class="news_title">
			<h4>保链第一款产品- 百万大学生意外伤害互助计划上线</h4>
			<p><a href="/product?program_id=1">基于互助前沿模式的意外伤害保险，完美结合了保障和关爱。 参与这款产品不止可以享受到超值的权利而且可以从社区参与到产品设计中</a></p>
			<p class="news_date">04-10</p>
		</div>
	</div>
	<div class="news_text">
		<p>保链深入研究保险的起源精神并论证了基于区块链的互助模式。在此我们隆重推出百万意外伤害互助计划，这是我们推出的基于这种前沿模式的第一款产品。 我们独特的设计将保障与关爱完美结合，真正实现‘人人为我，我为人人 ’的理念。</p>
		<p>这款产品在保链互助平台上线。 保链互助平台充分考虑了众包精神，每一个会员都可以对产品提出开发意见。经过社区表决，保链产品开发团队将会把这些意见结合到产品里面。 力争打造一个基于区块链的百万级互助社群。</p>
		<p>这款产品为人身意外提供保障并有以下特征</p>
		<pre style="border:none;background-color:#fff; color:#aaa">
• 结算方式：GETX；
• 准入年龄：16-60周岁；
• 充值要求：单次充值不低于30GETX；
• 等待期：加入计划后30天（在此期间不享受护助权益）
• 单次受助总额：单次事件不超过10万GETX；航空意外单次事件不超过100万GETX；
• 人均捐出额：单次事件不超过10GETX；
• 运营管理费：等待期结束后收取，0.01GETX/人/天；
• 宽限期：账户余额低于10GETX起30天（宽限期内补缴次日起恢复权益，宽限期结束后自动退出计划）

		</pre>
		<p>
			在意外发生时，保链互助平台充分考虑互助会员的紧急需求和权利，并安排具体互助措施：
		</p>
		<pre style="border:none;background-color:#fff;color:#aaa">
• 聘请第三方独立机构对事件真实性进行独立调查；
• 调查结果进行公示，接受会员质询；
• 受益人需要支付调查启动费；
• 通过智能合约快速汇集互助金
		</pre>
		<p>
			关于产品和互助过程的具体条款可以在保链互助网站上浏览
		</p>
	</div>
</div>