<% layout('getx_layout_en.html') -%>
<link rel="stylesheet" href="../public/stylesheets/square.css">
    <div class="square_banner">
		<img class="img-responsive hidden-xs" src="../public/img/square_banner_en.png" alt="">
		<img class="img-responsive visible-xs" src="../public/img/square_banner1_en.png" alt="">
	</div>
	<div class="square_tab">
		<ul id="myTab" class="nav nav-tabs">
		   <li class="active"><a href="#square_active" data-toggle="tab">
		      Activities</a>
		   </li>
		   <li><a href="#square_news" data-toggle="tab">News</a></li>
		   <li><a href="#square_community" data-toggle="tab">Community</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		   <div class="tab-pane fade in active" id="square_active">
		      <ul class="square_active_list">
		      		<li>
		      			<a href="/square/news" class="row">
		      				<div class="active_img col-md-3 col-lg-3">
			      				<img class="img-responsive" src="../public/img/banner1_en.png" alt="">
			      			</div>
			      			<div class="active_txt col-xs-10 col-md-8 col-lg-8">
			      				<h4>Inschain will launch their first product - Million Undergraduates Accidental Mutual Aid Project</h4>
			      				<p>this product base on mutual aid which is innovative and forward looking insurance business model. this model fully integrate the concept of protection and love. by participating in this product, you will not only enjoy the benefits but also able to contribute your brillant ideas for product development.</p>
			      			</div>
			      			<div class="active_operation col-xs-2 col-md-1 col-lg-1">
			      				<p>12-06</p>
			      				<div class="active_operation_img">
			      					<img class="img-responsive" src="../public/img/operation.png" alt="">
			      				</div>
			      			</div>
		      			</a>	
		      		</li>
		      </ul>
		   </div>
		   <div class="tab-pane fade" id="square_news">
		      <ul class="square_active_list">
		      		<li>
		      			<a href="/square/news" class="row">
		      				<div class="active_img col-lg-3">
			      				<img class="img-responsive" src="../public/img/banner1_en.png" alt="">
			      			</div>
			      			<div class="active_txt col-lg-7">
			      				<h4>Inschain will launch their first product - Million Undergraduates Accidental Mutual Aid Project</h4>
			      				<p>this product base on mutual aid which is innovative and forward looking insurance business model. this model fully integrate the concept of protection and love. by participating in this product, you will not only enjoy the benefits but also able to contribute your brillant ideas for product development.</p>
			      			</div>
			      			<div class="active_operation col-lg-2">
			      				<p>12-06</p>
			      				<div class="active_operation_img">
			      					<img class="img-responsive" src="../public/img/operation.png" alt="">
			      				</div>
			      			</div>
		      			</a>	
		      		</li>
		      </ul>
		   </div>
		   <div style="height: 300px;line-height: 300px;text-align: center;font-size: 30px;" class="tab-pane fade" id="square_community">
		      Coming soon...
		   </div>

		</div>
	</div>
  <script>
   

  </script>