<% layout('getx_layout.html') -%>
<link rel="stylesheet" href="../public/stylesheets/square.css">
    <div class="square_banner">
		<img class="img-responsive hidden-xs" src="../public/img/square_banner.png" alt="">
		<img class="img-responsive visible-xs" src="../public/img/square_banner1.png" alt="">
	</div>
	<div class="square_tab">
		<ul id="myTab" class="nav nav-tabs">
		   <li class="active"><a href="#square_active" data-toggle="tab">
		      活动</a>
		   </li>
		   <li><a href="#square_news" data-toggle="tab">资讯</a></li>
		   <li><a href="#square_community" data-toggle="tab">社区</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		   <div class="tab-pane fade in active" id="square_active">
		      <ul class="square_active_list">
		      		<li>
		      			<a href="/square/news" class="row">
		      				<div class="active_img col-md-3 col-lg-3">
			      				<img class="img-responsive" src="../public/img/banner1.png" alt="">
			      			</div>
			      			<div class="active_txt col-xs-10 col-md-8 col-lg-8">
			      				<h4>保链第一款产品- 百万大学生意外伤害互助计划上线</h4>
			      				<p>基于互助前沿模式的意外伤害保险，完美结合了保障和关爱。 参与这款产品不止可以享受到超值的权利而且可以从社区参与到产品设计中.</p>
			      			</div>
			      			<div class="active_operation col-xs-2 col-md-1 col-lg-1">
			      				<p>04-10</p>
			      				<div class="active_operation_img">
			      					<img class="img-responsive" src="../public/img/operation.png" alt="">
			      				</div>
			      			</div>
		      			</a>	
		      		</li>
		      		
		      </ul>
		   </div>
		   <div class="tab-pane fade" id="square_news">
		      <ul class="square_active_list">
		      		<li>
		      			<a href="/square/news" class="row">
		      				<div class="active_img col-lg-3">
			      				<img class="img-responsive" src="../public/img/banner1.png" alt="">
			      			</div>
			      			<div class="active_txt col-lg-7">
			      				<h4>保链第一款产品- 百万大学生意外伤害互助计划上线</h4>
			      				<p>基于互助前沿模式的意外伤害保险，完美结合了保障和关爱。 参与这款产品不止可以享受到超值的权利而且可以从社区参与到产品设计中.</p>
			      			</div>
			      			<div class="active_operation col-lg-2">
			      				<p>04-10</p>
			      				<div class="active_operation_img">
			      					<img class="img-responsive" src="../public/img/operation.png" alt="">
			      				</div>
			      			</div>
		      			</a>	
		      		</li>
		      </ul>
		   </div>
		   <div style="height: 300px;line-height: 300px;text-align: center;font-size: 30px;" class="tab-pane fade" id="square_community">
		      敬请期待...
		   </div>

		</div>
	</div>
  <script>
   

  </script>