<% layout('getx_layout_en.html') -%>
<link href="../public/stylesheets/icon_css.css" rel="stylesheet">
<link href="../public/stylesheets/about.css" rel="stylesheet">
<header class="text-center">
	<img  class="img-responsive" src="../public/img/about/banner.png" alt="">	
</header>
<div>
	<section class="about_us">
		<div>
			<div class="title">
				<div class="border">
					<img class="img-responsive" src="../public/img/about/title1.png" alt="">
					<div class="title_text">Inschain Mutual</div>
				</div>
			</div>
			<div class="contain_text">
				Inschain is the world's first customizable and scalable platform for risk mutual aid project based on the blockchain, Internet of Things, and artificial intelligence. The aim is to establish a global multi-level mutual help community in the context of blockchain technology. Each Inschain member can present his opinions on product development in the community as a ballot. After the ballot is passed, the inchain product development team will integrate member opinions into actual applications.
			</div>
		</div>
		<div>
			<div class="title">
				<div class="border">
					<img class="img-responsive" src="../public/img/about/title2.png" alt="">
					<div class="title_text">About us</div>
				</div>
			</div>
			<div class="contain_text">
				<div>
					Inschain mutual aid is an innovative platform focus on community projects, which is well known for its peer to peer risk sharing model. By joining the platform as a participated member, you need to contribute your kindness to assist another member in case of accidents, vice versa you will also receive mutual assistance fund donated evenly by other members. 
				</div>
				<div>
					This mutual aid project set up by Inschain, and on live in March 2018. The project based on the vision of creating a community with a strong ‘All for one, one for all’ spirit. With a further mission of protecting low-income member against natural disaster and severe illness with an escort service that not only physically looks after member but also emotionally. Eventually, mutual aid project will create a protection net and supplement the social welfare system.
				</div>
			</div>
		</div>
		<div class="divider"></div>
	</section>
	<section class="operate">
		<div class="operate_title text-center">Our operation procedures</div>
		<div class="operate_items">
			<div class="item">
				<div class="text-center">
					<img class="" src="../public/img/about/icon2.png" alt="">						
				</div>
				<div>①Inschain will nominate a third party institution as an independent investigating agency to confirm the facts of accidents. At the meantime, Inschain will also request an external expert to determine whether applicant satisfy the mutual aid term and conditions.</div>	
			</div>
			<div class="item">
				<div class="text-center">
					<img class="" src="../public/img/about/icon1.png" alt="">						
				</div>
				<div>②Mutual assistance fund will create as smart contract on the blockchain system; the fund will direct transfer to a provided deposit account</div>	
			</div>
			<div class="item">
				<div class="text-center">
					<img class="" src="../public/img/about/icon3.png" alt="">						
				</div>
				<div>③Inschain mutual aid platform invite third parties institution to perform an independent investigation, the mutual assistance fund will transfer directly to the applicant account</div>	
			</div>			
		</div>
	</section>
	<section class="concat">
		<div class="concat_title text-center">Contact us</div>
		<div class="text-center email">Official email：<a href="Mailto:mutualaid@inschain.io">mutualaid@inschain.io</a></div>
		<div class="link_box text-center">
			<a href="https://twitter.com/insChainaccount" target="_blank">
				<i class="iconfont icon-twitter"></i>
			</a>
			<a href="https://www.facebook.com/insChainOfficial/" target="_blank">
				<i class="iconfont icon-facebook"></i>
			</a>
			<a href="https://www.reddit.com/user/Inschain/" target="_blank">
				<i class="iconfont icon-kakao"></i>
			</a>
			<a href="https://t.me/inschain_official" target="_blank">
				<i class="iconfont  icon-emizhifeiji"></i>
			</a>
			<a href="https://open.kakao.com/o/gw1A4mH" target="_blank">
				<i class="iconfont  icon-kakao_real"></i>
			</a>
			<a href="https://www.linkedin.com/company/inschain/" target="_blank">
				<i class="iconfont  icon-linkedin"></i>
			</a>        
		</div>
	</section>
</div>