<% layout('getx_layout.html') -%>
<link href="../public/stylesheets/icon_css.css" rel="stylesheet">
<link href="../public/stylesheets/about.css" rel="stylesheet">
<header class="text-center">
	<img  class="img-responsive" src="../public/img/about/banner.png" alt="">	
</header>
<div>
	<section class="about_us">
		<div>
			<div class="title">
				<div class="border">
					<img class="img-responsive" src="../public/img/about/title1.png" alt="">
					<div class="title_text">关于保链互助</div>
				</div>
			</div>
			<div class="contain_text">
				保链互助是世界上第一个可定制,可延展的基于区块链，物联网和人工智能的风险互助全流程平台。旨在建立一个在区块链技术场景下的全球百万级互助社区，每一位保链会员都能在社区中提出自己的产品开发意见，经投票表决通过后，保链产品开发团队就会开发上线这款产品。
			</div>
		</div>
		<div>
			<div class="title">
				<div class="border">
					<img class="img-responsive" src="../public/img/about/title2.png" alt="">
					<div class="title_text">关于我们</div>
				</div>
			</div>
			<div class="contain_text">
				<div>
					保链互助平台是创新的区块链“社群”项目，也是目前国际知名的共享式互助平台。加入保链互助计划的成员，可为各种不幸的互助会员及其家庭提供帮助，同时也将获得其他成员的义务均摊式捐助。
				</div>
				<div>
					此项目由保链基金会发起，于2018年3月正式上线。本着“我为人人，人人为我”的宗旨，平台致力于将守护与爱心完美结合，力图编织一个覆盖所有中低收入家庭抵御大灾、大病的保护网，成为社会体系补充之一。
				</div>
			</div>
		</div>
		<div class="divider"></div>
	</section>
	<section class="operate">
		<div class="operate_title text-center">我们的运作</div>
		<div class="operate_items">
			<div class="item">
				<div class="text-center">
					<img class="" src="../public/img/about/icon2.png" alt="">						
				</div>
				<div>①保链互助平台聘请独立第三方调查公司对互助事件的真实性进行调查，同时外聘专家对互助事件是否满足互助条件进行审定。</div>	
			</div>
			<div class="item">
				<div class="text-center">
					<img class="" src="../public/img/about/icon1.png" alt="">						
				</div>
				<div>②平台运作和管理接受全体会员监督，由会员社群履行监督职责</div>	
			</div>
			<div class="item">
				<div class="text-center">
					<img class="" src="../public/img/about/icon3.png" alt="">						
				</div>
				<div>③互助资金由区块链智能合约管理，互助金直达申请人账户</div>	
			</div>			
		</div>
	</section>
	<section class="concat">
		<div class="concat_title text-center">联系我们</div>
		<div class="text-center email">官方邮箱：<a href="Mailto:mutualaid@inschain.io">mutualaid@inschain.io</a></div>
		<div class="link_box text-center">
			<a href="https://twitter.com/insChainaccount" target="_blank">
				<i class="iconfont icon-twitter"></i>
			</a>
			<a href="https://www.facebook.com/insChainOfficial/" target="_blank">
				<i class="iconfont icon-facebook"></i>
			</a>
			<a href="https://www.reddit.com/user/Inschain/" target="_blank">
				<i class="iconfont icon-kakao"></i>
			</a>
			<a href="https://t.me/inschain_official" target="_blank">
				<i class="iconfont  icon-emizhifeiji"></i>
			</a>
			<a href="https://open.kakao.com/o/gw1A4mH" target="_blank">
				<i class="iconfont  icon-kakao_real"></i>
			</a>
			<a href="https://www.linkedin.com/company/inschain/" target="_blank">
				<i class="iconfont  icon-linkedin"></i>
			</a>        
		</div>
	</section>
</div>