<% layout('getx_layout.html') -%>
<link rel="stylesheet" href="../public/stylesheets/applyGuard.css">
<ol class="breadcrumb">
  <li><a href="/personal">个人中心</a></li>
  <li><a href="/getPersonalAllGuards">我的保障</a></li>
  <li><a href="/getPersonalGuard/:id">互助详情</a></li>
  <li class="active">申请互助</li>
</ol>
<p class="applyGuard-title">申请互助</p>
<div class="procedure">
	<h3>申请互助流程</h3>
	<div class="applyGuard-details">
		<ul class="applyGuard-box">
			<li>
				<div class="apply-stage">
					<div class="stage-img">
						<img src="../public/img/applyGuard4.png" alt="..">
					</div>
				</div>
			</li>
			<li>
				<div class="apply-stage">
					<div class="stage-img">
						<img src="../public/img/applyGuard4.png" alt="..">
					</div>
				</div>
			</li>
			<li>
				<div class="apply-stage">
					<div class="stage-img">
						<img src="../public/img/applyGuard4.png" alt="..">
					</div>
				</div>
			</li>
		</ul>
		
		<div class="stage-name">
			<div>申请互助</div>
			<div>事件调查</div>
			<div>资金划款</div>
		</div>

		<div class="stage-instroduction">
			<div class="instroduction-details">
				<img class="img-responsive" src="../public/img/applyGuard1.png" alt="">
				拨打客服热线或者发邮件至官方客服<br>
				发起申请，提交相关资料
			</div>
			<div class="instroduction-details">
				<img class="img-responsive" src="../public/img/applyGuard2.png" alt="">
				公示通过无异议，互助计划智能合约<br>
				划款给受助人
			</div>
			<div class="instroduction-details">
				<img class="img-responsive" src="../public/img/applyGuard3.png" alt="">
				拨打客服热线或者发邮件至官方客服<br>
				发起申请，提交相关资料
			</div>
		</div>

		<div class="apply-contact" style="justify-content: center;">
			<!--<div class="apply-telephone">
				<p>客服电话</p>
				<div>400-0000-0000</div>
			</div> -->
			<div class="apply-email">
				<p>互助邮箱</p>
				<div>mutualaid@inschain.io</div>
			</div>
		</div>

	</div>
</div>