<% layout('getx_layout_en.html') -%>
<link rel="stylesheet" href="../public/stylesheets/applyGuard.css">
<ol class="breadcrumb">
	<li>Your current location:</li>
	<li><a href="/personal">Account summary</a></li>
	<li><a href="/getPersonalAllGuards">My protection</a></li>
	<li><a href="/getPersonalGuard/:id">Protection detail</a></li>
	<li class="active">Applying mutual project</li>
</ol>
<p class="applyGuard-title">Applying mutual project</p>
<div class="procedure">
	<h3>Application procedures</h3>
	<div class="applyGuard-details">
		<ul class="applyGuard-box">
			<li>
				<div class="apply-stage">
					<div class="stage-img">
						<img src="../public/img/applyGuard4.png" alt="..">
					</div>
				</div>
			</li>
			<li>
				<div class="apply-stage">
					<div class="stage-img">
						<img src="../public/img/applyGuard4.png" alt="..">
					</div>
				</div>
			</li>
			<li>
				<div class="apply-stage">
					<div class="stage-img">
						<img src="../public/img/applyGuard4.png" alt="..">
					</div>
				</div>
			</li>
		</ul>
		
		<div class="stage-name">
			<div>Application</div>
			<div>Accident investigating</div>
			<div>Fund transfer</div>
		</div>

		<div class="stage-instroduction">
			<div class="instroduction-details">
				<img class="img-responsive" src="../public/img/applyGuard1.png" alt="">
				To submiting related documents please calling customer service hot line or sending emial to offical customer service account
			</div>
			<div class="instroduction-details">
				<img class="img-responsive" src="../public/img/applyGuard2.png" alt="">
				IF there are no argument regarding the investigation result, the platform will transfer the mutual assistance fund to beneficiary
			</div>
			<div class="instroduction-details">
				<img class="img-responsive" src="../public/img/applyGuard3.png" alt="">
				Fund transfer
			</div>
		</div>

		<div class="apply-contact" style="justify-content: center;">
			<!--<div class="apply-telephone">
				<p>客服电话</p>
				<div>400-0000-0000</div>
			</div> -->
			<div class="apply-email">
				<p>Mutual project email</p>
				<div>mutualaid@inschain.io</div>
			</div>
		</div>

	</div>
</div>